
body {
  margin: 0px;
  max-width: 100%;
  min-height: 100%;
  background-color: red;
  font-family: 'Permanent Marker', cursive;
}
.testDiv {
  max-width: 100%;
  max-height: 80px;
  background-color: black;
}
#headerContainer {
  max-width: cover;
  margin: 0px;

}
header {
  max-width: 100%;
  /*max-height: 500px;*/
  margin-top: 0px;
  display: inline;
}
nav .menu {
  display: inline-block;


}
nav .menu .menu-inner {
  display: inline-block;
}
.menu-inner li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 15px;
  color: white;
  font-size: 16px;
  font-family: 'Caveat', cursive;
}
#bigContainer {
  padding: 0px;

}
h1 {
  color: white;
  margin-top: 10px;
  margin-left: 20px;
  font-family: 'Caveat', cursive;
}
h3 {
  margin: 0px 0px 5px 0px;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}

#gameRow {
  /*max-width: 100%;*/
  /*padding-left: 50px;*/
}
.person {
  max-width: 130px;
  min-height: 130px;
  background-color: white;
  border-style: solid;
  border-width: thick;
  border-color: white;
  margin-bottom: 10px;
  /*margin-right: 5px;*/
}
.pic img {
  max-width: 120px;
  min-height: 100px;
  background-color: white;
}
.logo {
  max-width: 130px;
  min-height: 130px;
  background-color: white;
  border-style: solid;
  border-width: thick;
  border-color: white;
  margin-bottom: 10px;
}
#logo {
  max-width: 110px;
  min-height: 90px;
  background-color: white;
  /*align-self: center;*/
}
.answer{
  margin-left: 5px;
  max-width: 110px;
  border-style: solid;
  border-color: white;
  border-width: thick;
}
.submit{
  background-color: green;
  text-align: center;
  color: white;
  font-family: 'Caveat', cursive;
  padding: 0px 20px;
  margin-top: 3px;
  max-width: 110px;
}
#twoColList {
  column-count:2;
  column-gap: 30px;
  list-style-position: inside;
  padding-left: 14px;
}
.col-md-2 {
  padding:0px;
}
#gallery {
  padding: 0px;
  padding-top: 20px;
}
.rightColumn {
  color: black;
  padding-left: 40px;
  padding-right: 0px;
}
#instructions {
  /*padding: 5px;*/
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 10px;
}
#instructions p {
  font-size: 16px;
}
.nameList li {
  font-size: 20px;
}
.scoreArea h3 {
  padding: 0px;
  text-decoration: underline;
}
.score{
  padding: 0px 5px;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: thick;
  margin-left: 10px;
  min-height: 60px;
  min-width: 150px;
  display: inline-block;
}

#player {
  text-decoration: underline;
}
footer {
  min-height: 15px;
  background-color: gray;
  margin-bottom: 0px;
}
/*.footer {
  max-width: 100%;
  position: absolute;
}*/
